<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet"   type="text/css" href="{{ url_for('static', filename='/css/home.css') }}"/>
</head>
<body style="background-color: #e0d8d8;">
  <div class="row1">
    <div class="flex1" style="background-color: #3f352b; border-radius: 20px;">
    <div class="title" style="margin-top: 250px; color: #a29386; font-size: 80px;">Caption It Up!</div>
    <div class="title">an Aid</div>
    <div class="title">to the Visually Impaired</div>
    <div style="margin-left: 205px;">
      <img src="{{url_for('static', filename='/images/specs.png')}}">

    </div>
  </div>
    <div class="flex1" style="background-color: rgb(224, 216, 216);">
  <div class="row">

    <div class="card">
      <a href="{{ url_for('index') }}"><img src="{{url_for('static', filename='/images/cam.png')}}" width="250px" height="200px" style="margin-left: 25px; display: block;"></a>
    <div style="text-align: center; color: #3f352b; font-size: 30px;">Caption Up</div>

    </div>
    
    <div class="card">
      <img src="{{url_for('static',filename='/images/ques.png')}}" width="150px" height="160px" style="margin-left: 85px; display: block; margin-top: 24px; margin-bottom: 4px;">
    <div style="text-align: center; color: #3f352b; font-size: 30px;"><p style="text-decoration: none; text-align: center; color: #3f352b; font-size: 30px;">Why CIU</div>


    </div>
  
  </div>
  <a href="{{url_for('about')}}" style="text-decoration: none;"><div class="card" style="margin:0 auto;">

    <img src="{{url_for('static', filename='/images/about3.png')}}" width="150px" height="200px" style="margin-left: 85px; display: block;">
    <div style="text-align: center; color: #3f352b; font-size: 30px;">About Us</div>
    
  </div>
  </a>
  </div>
  
  </div>
  
</body>
</html>